<div class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">{{usuario.nombre+" - "+usuario._id}}</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a [routerLink]="['inicio']">Inicio</a></li>
            <li><a [routerLink]="['cuenta']">Cuenta</a></li>
            <li><a [routerLink]="['/login']">Salir</a></li>
        </ul>
    </div>
  </div>

<router-outlet></router-outlet>