<div class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Ejemplo de navegación</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a [routerLink]="[ 'librosListado' ]" >Libros</a></li>
        </ul>
    </div>
</div>
  
<router-outlet></router-outlet>