<div class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">EMPLEADO: {{usuario.nombre+"-"+usuario._id}}</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a [routerLink]="[ '/appEmpleado/inicio' ]">Inicio</a></li>
            <li><a [routerLink]="[ '/appEmpleado/formIncidencia' ]">Incidencias</a></li>
            <li><a [routerLink]="[ '/appEmpleado/cuenta' ]">Perfil</a></li>
            <li><a (click)="logout()">Salir</a></li>
        </ul>
    </div>
</div>

<router-outlet></router-outlet>