<div class="row">
  <div class="col-xs-0 col-sm-2"></div>
  <div class="col-xs-12 col-sm-8">

    <div class="text-center">
      <input class   = "btn btn-primary" 
             type    = "button"  
             value   = "Actualizar"
             (click) = "obtenerIncidencias()"/>
    </div>

    <p></p>

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Asunto</th>
          <th>F. Alta</th>
          <th>F. Límite</th>
          <th>Prioridad</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of incidencias">
          <td>{{i.asunto}}</td>
          <td>{{i.fechaAlta | date: 'dd/MM/yyyy'}}</td>
          <td>{{i.fechaLimite | date: 'dd/MM/yyyy'}}</td>
          <td>{{i.prioridad}}</td>
          <td>{{i.estado}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-xs-0 col-sm-2"></div>
</div> 
