<div class="row">
  <div class="col-xs-0 col-sm-2"></div>
  <div class="text-center col-xs-12 col-sm-8">
    <div>
      <input class="btn btn-primary" type="button" value="Modificar" (click)="modificar()"/>
    </div>

    <p></p>
        
    <div class="text-left form-horizontal" id="formulario">
      <div class="form-group">
        <label class="control-label col-xs-4">Asunto</label>
        <div class="col-xs-8">
           <label class="control-label">{{incidencia.asunto}}</label>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-xs-4">Descripción</label>
        <div class="col-xs-8">
           <label class="control-label">{{incidencia.descripcion}}</label>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-xs-4">Fecha alta</label>
        <div class="col-xs-8">
           <label class="control-label">{{incidencia.fechaAlta | date: 'dd/MM/yyyy'}}}</label>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-xs-4">Fecha límite</label>
        <div class="col-xs-8">
           <label class="control-label">{{incidencia.fechaLimite | date: 'dd/MM/yyyy'}}}</label>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-xs-4" for="asunto">Fecha finalización</label>
        <div class="col-xs-8">
           <input type="date" id="asunto" class="form-control" [(ngModel)]="incidencia.fechaFinalizacion"/>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-xs-4" for="prioridad">Prioridad</label>
        <div class="col-xs-8">
          <select id="prioridad" class="form-control" [(ngModel)]="incidencia.prioridad">
            <option value="">Seleccione...</option>
            <option value="Baja">Baja</option>
            <option value="Media">Media</option>
            <option value="Alta">Alta</option>
          </select>
        </div>
      </div> 
    </div>
  </div>
  <div class="col-xs-0 col-sm-2"></div>
</div>