
<p></p>

<div class="row">
  <div class="col-xs-0 col-sm-4"></div>
  <div class="col-xs-12 col-sm-4">
    <div class="panel panel-primary">
      <div class="panel-heading">Login</div>
      <div class="panel-body">

        <div class="form-horizontal" id="formulario">
          <div class="form-group">
            <label class="control-label col-xs-2" for="login">Login</label>
            <div class="col-xs-10">
              <input type="text" class="form-control" [(ngModel)]="usuario.login"/>
            </div>
          </div>   
          <div class="form-group">
            <label class="control-label col-xs-2" for="pw">Pw</label>
            <div class="col-xs-10">
              <input type="text" class="form-control" [(ngModel)]="usuario.pw"/>
            </div>
          </div>  
          
          <!--<div *ngIf="mensaje!=''" class="alert alert-danger">{{mensaje}}</div>-->
          <div *ngIf="mensaje" class="alert alert-danger">{{mensaje}}</div>

          <div class="form-group">
            <div class="col-xs-2"></div>
            <div class="col-xs-8">
              <input type="button" value="Entrar" (click)="login()"/>
            </div>
          </div>   
          <div class="form-group">
            <div class="col-xs-2"></div>
            <div class="col-xs-8">
              <a [routerLink]="['/alta']">Registrarse</a>
            </div>
          </div>   
        </div> <!--formulario-->
      </div>
    </div>
  </div>
  <div class="col-xs-0 col-sm-4"></div>
</div>  