<h1>
  {{title}}
</h1>

<hr> {{ 250 + 500 }}
<br/> {{ 1000 > 750 }}
<br/> {{ "numero * 10" }}
<br/> {{ numero * 10 }}

<h2>
  <font color="orange">
    {{title+" "+mensaje}}
  </font>
</h2>
<h2>Libro:</h2>
Título: {{libro.titulo}} <br/>
Autor: {{libro.autor}}<br/>
ISBN: {{libro.ISBN}}<br/>
Precio: {{libro.precio}}<br/>
<hr>
{{libro.toString()}} <br/>
{{libro.toString}} <br/>
{{libro}} <br/> <!-- equivalente a invocar ToString -->
<hr/>

<input type="button" value="Dale" (click)="btnDale()"/>
<input type="button" value="Siguiente" (click)="btnSiguiente()"/>
