<div class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">{{usuario.nombre}}</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a [routerLink]="[ 'XXX' ]">Inicio</a></li>
            <li><a [routerLink]="[ 'YYY' ]">Salir</a></li>
        </ul>
    </div>
</div>

<router-outlet></router-outlet>