<div class="navbar navbar-inverse">
  <div class="container-fluid">
      <div class="navbar-header">
          <a class="navbar-brand" href="#">Ejemplo de Navegación</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a [routerLink]="[ 'pagina1', '222' ]" >Página 1</a></li>
        <!--li><a [routerLink]="[ '/pagina1', 'param1', 'param2' ]" >Página 1</a></li>
        <li><a routerLink='/pagina1'>Página 1</a></li-->
        <li><a [routerLink]="[ 'pagina2', '444', 'chusma' ]" >Página 2</a></li>
      </ul>
  </div>
</div>

<router-outlet></router-outlet>
