<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
        <input type="button" class="btn btn-primary" value="Nuevo" [routerLink]="['/formulario']">
        <input type="button" class="btn btn-success" value="Actualizar" (click)="refrescarTabla()">
        <hr>
        <table align="center" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Asunto</th>
                    <th>Fecha
                        <br/>Alta</th>
                    <th>Fecha
                        <br/>Límite</th>
                    <th>Prioridad</th>
                    <th>Estado</th>
                    <th>Cliente</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of incidencias" [routerLink]="[ '/incidencia', i._id ]">
                    <td>{{i.asunto}}</td>
                    <td>{{i.fechaAlta}}</td>
                    <td>{{i.fechaLimite}}</td>
                    <td>{{i.prioridad}}</td>
                    <td>{{i.estado}}</td>
                    <td>{{i.cliente.nombre}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>