<div class="row">
    <div class="col-xs-0 col-md-2"></div>
    <div class="text-center col-xs-12 col-md-8">
      <input type="button" class="btn btn-primary" value="Nuevo" [routerLink]="['/formulario']">
      <input type="button" class="btn btn-success" value="Actualizar" (click)="refrescarTabla()">
      <hr>
      <table align="center" class="table table-bordered table-striped">
        <tr>
          <th>Título</th>
          <th>Autor</th>
          <th>ISBN</th>
          <th>Precio</th>
        </tr>
        <tr *ngFor="let l of libros" [routerLink]="[ '/formulario', l.id ]">
          <td>{{l.titulo}}</td>
          <td>{{l.autor}}</td>
          <td>{{l.ISBN}}</td>
          <td>{{l.precio}}</td>
        </tr>
      </table>
    </div>
  
  <div class="col-xs-0 col-md-2"></div>
  
  </div>
  