<div class="row">
    <div class="col-xs-0 col-md-2"></div>
    <div class="text-center col-xs-12 col-md-8">
        <input type="button" class="btn btn-primary" value="Insertar"  [disabled]="libroSel.id!=null" (click)="insertarLibro()">
        <input type="button" class="btn btn-default" value="Modificar" [disabled]="libroSel.id==null" (click)="modificarLibro()">
        <input type="button" class="btn btn-danger"  value="Borrar"    [disabled]="libroSel.id==null" (click)="borrarLibro()">
        <input type="button" class="btn btn-success" value="Vaciar"    (click)="vaciarFormulario()">
        <input type="button" class="btn btn-warning" value="Cancelar"  [routerLink]="['/listado']">
      <hr>
      <div class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-xs-2" for="nombre">Título</label>
          <div class="col-xs-8">
  
            <input class="form-control" type="text" [(ngModel)]="libroSel.titulo">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-xs-2" for="direccion">Autor</label>
          <div class="col-xs-8">
            <input class="form-control" type="text" [(ngModel)]="libroSel.autor">
            <!-- bidireccional -->
  
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-xs-2" for="telefono">ISBN</label>
          <div class="col-xs-8">
            <input class="form-control" type="text" [(ngModel)]="libroSel.ISBN">
  
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-xs-2" for="correoE">Precio</label>
          <div class="col-xs-8">
  
            <input class="form-control" type="text" [(ngModel)]="libroSel.precio">
          </div>
        </div>
      </div>
    </div>
  
  <div class="col-xs-0 col-md-2"></div>
  
  </div>
  