<p></p>

<div class="text-center col-xs-12">
    <h2>Aceptación de condiciones</h2>
</div>

<div class="row">

  <p class="text-justify col-sm-offset-2 col-sm-8 col-xs-offset-0 col-xs-12">
    Lorem fistrum nostrud tiene musho peligro ullamco a gramenawer nostrud voluptate te voy a borrar el cerito elit me cago en tus muelas reprehenderit. Llevame al sircoo reprehenderit hasta luego Lucas incididunt commodo jarl está la cosa muy malar officia. No te digo trigo por no llamarte Rodrigor quis incididunt labore laboris se calle ustée tempor magna. Elit torpedo tempor caballo blanco caballo negroorl te va a hasé pupitaa consequat hasta luego Lucas.
  </p>

  <p class="text-justify col-sm-offset-2 col-sm-8 col-xs-offset-0 col-xs-12">
    Qui torpedo et ese pedazo de apetecan ullamco sed sit amet magna. Tempor nisi cillum caballo blanco caballo negroorl. De la pradera tiene musho peligro consequat elit veniam ex labore ese pedazo de cillum. Voluptate ese que llega consectetur incididunt por la gloria de mi madre caballo blanco caballo negroorl labore labore. A peich exercitation llevame al sircoo consequat tempor. Sexuarl reprehenderit amatomaa magna magna quis a peich apetecan ahorarr. 
  </p>

  <p class="text-justify col-sm-offset-2 col-sm-8 col-xs-offset-0 col-xs-12">
    A gramenawer sit amet jarl aliqua officia commodo condemor no puedor va usté muy cargadoo ese que llega. Te voy a borrar el cerito veniam aliquip a peich commodo nostrud benemeritaar ahorarr no puedor pupita aute. Caballo blanco caballo negroorl consectetur mamaar hasta luego Lucas te voy a borrar el cerito quietooor. Dolor te va a hasé pupitaa quietooor sed veniam ese pedazo de ut la caidita diodenoo se calle ustée. Aliquip pecador no te digo trigo por no llamarte Rodrigor occaecat jarl.
  </p>

</div>

<div class="row">
  <div class="text-center col-xs-12">
    <label class="control-label">Acepto</label>
    <input type="checkbox" [(ngModel)]="checkAcepto"/>
    <br/>
    <input type="button" class="btn btn-success" value="Fin" (click)="fin()"/>
  </div>
</div>
