<div class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">CLIENTE:{{usuario.nombre}}</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a [routerLink]="[ '/appCliente/inicio' ]">Inicio</a></li>
            <li><a [routerLink]="[ '/appCliente/formIncidencia' ]">Incidencias</a></li>
            <li><a [routerLink]="[ '/appCliente/cuenta' ]">Perfil</a></li>
            <!-- En LoginComponent se hará el logout -->
            <li><a [routerLink]="[ '/login' ]">Salir</a></li>
        </ul>
    </div>
</div>

<router-outlet></router-outlet>