<h2>Aceptacion de condiciones</h2>
<p>Lorem fistrum quietooor condemor a gramenawer pecador llevame al sircoo me cago en tus muelas al ataquerl amatomaa. Te va a hasé pupitaa ese pedazo de ahorarr pupita hasta luego Lucas mamaar por la gloria de mi madre no puedor me cago en tus muelas. Va usté muy cargadoo benemeritaar ahorarr qué dise usteer a wan llevame al sircoo sexuarl amatomaa mamaar hasta luego Lucas llevame al sircoo. Ese hombree ese pedazo de fistro te voy a borrar el cerito tiene musho peligro sexuarl qué dise usteer se calle ustée. Por la gloria de mi madre amatomaa te voy a borrar el cerito la caidita caballo blanco caballo negroorl apetecan quietooor va usté muy cargadoo tiene musho peligro va usté muy cargadoo mamaar. Ese que llega fistro papaar papaar se calle ustée a wan ese hombree. Diodenoo ahorarr al ataquerl a peich tiene musho peligro jarl mamaar a wan está la cosa muy malar diodenoo la caidita. De la pradera me cago en tus muelas apetecan va usté muy cargadoo la caidita quietooor te va a hasé pupitaa quietooor va usté muy cargadoo hasta luego Lucas.</p>
<p>Amatomaa va usté muy cargadoo no puedor está la cosa muy malar tiene musho peligro hasta luego Lucas papaar papaar papaar papaar ahorarr. Diodeno te va a hasé pupitaa tiene musho peligro hasta luego Lucas a peich jarl jarl. Ese pedazo de ese hombree papaar papaar amatomaa sexuarl pecador quietooor caballo blanco caballo negroorl qué dise usteer. Mamaar pupita apetecan la caidita mamaar. Condemor la caidita caballo blanco caballo negroorl hasta luego Lucas te va a hasé pupitaa llevame al sircoo torpedo. Sexuarl sexuarl mamaar se calle ustée condemor diodenoo de la pradera diodeno al ataquerl.</p>  
<p>A peich a wan de la pradera amatomaa no te digo trigo por no llamarte Rodrigor diodeno fistro a gramenawer papaar papaar hasta luego Lucas. Quietooor se calle ustée no te digo trigo por no llamarte Rodrigor no te digo trigo por no llamarte Rodrigor mamaar te va a hasé pupitaa apetecan ese hombree. A gramenawer se calle ustée diodeno a wan tiene musho peligro de la pradera pecador ahorarr. Pupita va usté muy cargadoo pecador por la gloria de mi madre. Te va a hasé pupitaa me cago en tus muelas jarl sexuarl ese que llega diodenoo apetecan va usté muy cargadoo ese hombree. Ese que llega mamaar tiene musho peligro pupita. Fistro fistro mamaar diodeno quietooor no puedor diodenoo benemeritaar.</p>
<p><input type="checkbox" [(ngModel)]="acepto" /> Acepto las condiciones generales.</p>
<div *ngIf="mensaje" class="alert alert-danger">{{mensaje}}</div>
<div class="text-center">
  <input type="button" class="btn btn-primary" value="Siguiente" (click)="siguiente()" />
  <input type="button" class="btn btn-warning" value="Cancelar" [routerLink]="['/login']" />
</div>