
<div class="row">
    <div class="col-xs-0 col-sm-2"></div>
    <div class="text-center col-xs-12 col-sm-8">
      <div>
        <input type="button" value="Nuevo" class="btn btn-primary" [routerLink]="[ '/librosFormulario', '-1' ]"/>
        <input type="button" value="Refrescar" class="btn btn-primary" (click)="refrescarTabla()"/>
      </div>
        
      <p></p>
        
      <table class="table table-striped table-hover">
        <tr>
          <th>Título</th>
          <th>Autor</th>
          <th>ISBN</th>
          <th>Precio</th>
        </tr>
        <tr *ngFor="let l of libros" [routerLink] = " [ '/librosFormulario', l.id ] ">
          <td>{{l.titulo}}</td>
          <td>{{l.autor}}</td>
          <td>{{l.ISBN}}</td>
          <td>{{l.precio}}</td>
        </tr>
      </table>
    </div>
    <div class="col-xs-0 col-sm-2"></div>
  </div>  
  
  
