<div class="row">
  <div class="col-xs-0 col-md-2"></div>
  <div class="text-center col-xs-12 col-md-8">
    <div class="btn-grouxxxxxp">
      <input type="button" class="btn btn-primary" value="Insertar"  [disabled]="libroSel.id!=null" (click)="insertarLibro()">
      <input type="button" class="btn btn-default" value="Modificar" [disabled]="libroSel.id==null" (click)="modificarLibro()">
      <input type="button" class="btn btn-danger"  value="Borrar"    [disabled]="libroSel.id==null" (click)="borrarLibro()">
      <input type="button" class="btn btn-default" value="Vaciar"    (click)="vaciarFormulario()">
    </div>
    <hr>
    <div class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-xs-2" for="nombre">Título</label>
        <div class="col-xs-8">

          <input class="form-control" type="text" [(ngModel)]="libroSel.titulo">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-xs-2" for="direccion">Autor</label>
        <div class="col-xs-8">
          <input class="form-control" type="text" [(ngModel)]="libroSel.autor">
          <!-- bidireccional -->

        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-xs-2" for="telefono">ISBN</label>
        <div class="col-xs-8">
          <input class="form-control" type="text" [(ngModel)]="libroSel.ISBN">

        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-xs-2" for="correoE">Precio</label>
        <div class="col-xs-8">

          <input class="form-control" type="text" [(ngModel)]="libroSel.precio">
        </div>
      </div>
    </div>
    <hr/>
    <table align="center" class="table table-bordered table-striped">
      <tr>
        <th>Título</th>
        <th>Autor</th>
        <th>ISBN</th>
        <th>Precio</th>
      </tr>
      <tr *ngFor="let l of libros" (click)="seleccionarLibro(l)">
        <td>{{l.titulo}}</td>
        <td>{{l.autor}}</td>
        <td>{{l.ISBN}}</td>
        <td>{{l.precio}}</td>
      </tr>
    </table>
  </div>

<div class="col-xs-0 col-md-2"></div>

</div>
