<div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading">Login</div>
            <div class="panel-body">
                <div class="form-horizontal" id="formulario">
                    <div class="form-group">
                        <label class="control-label col-xs-4" for="login">Login</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" [(ngModel)]="usuario.login" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-4" for="pw">Password</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" [(ngModel)]="usuario.pw" />
                        </div>
                    </div>
                    <div *ngIf="mensaje" class="alert alert-danger">
                            <p>{{mensaje}}</p>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-4"></div>
                        <div class="col-xs-8">
                            <input type="button" value="Entrar" class="btn btn-primary" (click)="login()" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-4"></div>
                        <div class="col-xs-8">
                            <a [routerLink]="['/alta']">Registrarse</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
