
<div class="row">
    <div class="col-xs-0 col-sm-2"></div>
    <div class="text-center col-xs-12 col-sm-8">
      <div>
        <input type="button" value="Insertar"  class="btn btn-primary" [disabled]="libroSel.id!=null" (click)="insertarLibro()"/>
        <input type="button" value="Modificar" class="btn btn-primary" [disabled]="libroSel.id==null" (click)="modificarLibro()"/>
        <input type="button" value="Borrar"    class="btn btn-danger"  [disabled]="libroSel.id==null" (click)="borrarLibro()"/>
        <input type="button" value="Vaciar"    class="btn btn-primary" (click)="vaciarFormulario()"/>
        <input type="button" value="Cancelar"  class="btn btn-warning" [routerLink]="[ '/librosListado' ]"/>
      </div>
        
      <p></p>
            
      <div class="form-horizontal" id="formulario">
          <div class="form-group">
              <label class="control-label col-xs-2" for="titulo">Título</label>
              <div class="col-xs-8">
                  <input type="text" class="form-control" [(ngModel)]="libroSel.titulo"/>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-xs-2" for="autor">Autor</label>
                <div class="col-xs-8">
                  <input type="text" class="form-control" [(ngModel)]="libroSel.autor"/>
              </div>
          </div>
          <div class="form-group">
              <label class="control-label col-xs-2" for="ISBN">ISBN</label>
              <div class="col-xs-8">
                  <input type="text" class="form-control" [(ngModel)]="libroSel.ISBN"/>                        
              </div>
          </div>
          <div class="form-group">
              <label class="control-label col-xs-2" for="precio">Precio</label>
              <div class="col-xs-8">
                  <input type="text" class="form-control" [(ngModel)]="libroSel.precio"/>                        
              </div>
          </div>
      </div>
  
    </div>
    <div class="col-xs-0 col-sm-2"></div>
  </div>  
  
  