<div class="row">
	<div class="col-xs-12 col-sm-8 col-sm-offset-2">

		<div class="form-horizontal">
			<h2>Alta de usuario</h2>
			<div class="form-group">
				<label for="nombre" class="control-label col-xs-12 col-sm-3">Nombre</label>
				<div class="col-xs-12 col-sm-9">
					<input class="form-control" type="text" [(ngModel)]="usuario.nombre" />
				</div>
			</div>
			<div class="form-group">
				<label for="login" class="control-label col-xs-12 col-sm-3">Login</label>
				<div class="col-xs-12 col-sm-9">
					<input class="form-control" type="text" [(ngModel)]="usuario.login" />
				</div>
			</div>
			<div class="form-group">
				<label for="pw" class="control-label col-xs-12 col-sm-3">Password</label>
				<div class="col-xs-12 col-sm-9">
					<input class="form-control" type="text" [(ngModel)]="usuario.pw" />
				</div>
			</div>
			<div class="form-group">
				<label for="pw2" class="control-label col-xs-12 col-sm-3">Confirmar password</label>
				<div class="col-xs-12 col-sm-9">
					<input class="form-control" type="text" [(ngModel)]="pw2" />
				</div>
			</div>
			<div class="form-group">
				<label for="idioma" class="control-label col-xs-12 col-sm-3">Idioma</label>
				<div class="col-xs-12 col-sm-9">
					<select class="form-control" [(ngModel)]="usuario.idioma">
						<option [ngValue]="ES" value="ES">ES</option>
						<option [ngValue]="EN" value="EN">EN</option>
					</select>
				</div>
			</div>
			<div *ngIf="mensaje" class="alert alert-danger">{{mensaje}}</div>
			<div class="text-center">
				<input type="button" class="btn btn-primary" value="Siguiente" (click)="siguiente()" />
				<input type="button" class="btn btn-warning" value="Cancelar" [routerLink]="['/login']" />
			</div>
		</div>

	</div>
</div>