<div class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Libros</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a [routerLink]="[ 'listado' ]" >Listado</a></li>
          <li><a [routerLink]="[ 'formulario', '' ]" >Formulario</a></li>
        </ul>
    </div>
  </div>
  
  <router-outlet></router-outlet>
  