<p></p>

<div class="text-center col-xs-12">
    <h2>Datos de la cuenta de usuario</h2>
</div>

<div class="row">
    <div class="col-xs-0 col-sm-2"></div>
    <div class="text-center col-xs-12 col-sm-8">
            
        <div class="form-horizontal" id="formulario">
            <div class="form-group">
                <label class="control-label col-xs-2" for="nombre">Nombre</label>
                <div class="col-xs-8">
                    <input type="text" id="nombre" class="form-control" [(ngModel)]="usuario.nombre"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2" for="password">Password</label>
                <div class="col-xs-8">
                    <input type="text" class="form-control" id="password" [(ngModel)]="usuario.pw"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2" for="idioma">Idioma</label>
                <div class="col-xs-8">
                    <select class="form-control" id="idioma" [(ngModel)]="usuario.idioma">
                        <option>ES</option>
                        <option>EN</option>
                    </select>
                </div>
            </div>                              
        </div>

        <div *ngIf="mensaje" class="alert alert-danger">{{mensaje}}</div>

        <div>
            <input type="button" value="Guardar" class="btn btn-primary" (click)="avisoVisible=true"/>
        </div>      
  
    </div>
    <div class="col-xs-0 col-sm-2"></div>
</div>  
 
<div *ngIf="avisoVisible"
     class="modal fade show in danger"
     id="myModal" 
     tabindex="-1" 
     role="dialog" 
     aria-labelledby="myModalLabel">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                     <h4 class="modal-title" id="myModalLabel">Aviso</h4>
                </div>
                <div class="modal-body">Por pereza del programador, si continúa deberá autenticarse otra vez para ver los cambios.</div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar" (click)="avisoVisible=false"/>
                    <input type="button" class="btn btn-primary" value="Al ataque" (click)="guardar()"/>
                </div>
            </div>
        </div>
    </div>
</div>
