<div class="row">
    <div class="col-xs-0 col-sm-2"></div>
    <div class="text-center col-xs-12 col-sm-8">
        <div>
            <input class="btn btn-primary" type="button" value="Insertar" (click)="insertar()" />
            <input class="btn btn-primary" type="button" value="Modificar" (click)="modificar()" />
            <input class="btn btn-danger" type="button" value="Borrar" (click)="borrar()" />
            <input class="btn btn-primary" type="button" value="Vaciar" (click)="vaciar()" />
        </div>

        <p></p>

        <div class="form-horizontal" id="formulario">
            <div class="form-group">
                <label class="control-label col-xs-2" for="asunto">Asunto</label>
                <div class="col-xs-8">
                    <input type="text" id="asunto" class="form-control" [(ngModel)]="incidencia.asunto" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2" for="descripcion">Descripción</label>
                <div class="col-xs-8">
                    <textarea id="descripcion" class="form-control" [(ngModel)]="incidencia.descripcion"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2" for="prioridad">Prioridad</label>
                <div class="col-xs-8">
                    <select id="prioridad" class="form-control" [(ngModel)]="incidencia.prioridad">
            <option value="">Seleccione...</option>
            <option value="Baja">Baja</option>
            <option value="Media">Media</option>
            <option value="Alta">Alta</option>
          </select>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-0 col-sm-2"></div>
</div>