<p></p>

<div class="row">
    <div class="col-xs-0 col-sm-2"></div>
    <div class="text-center col-xs-12 col-sm-8">
            
      <div class="form-horizontal" id="formulario">
          <div class="form-group">
              <label class="control-label col-xs-2" for="nombre">Nombre</label>
              <div class="col-xs-8">
                  <input type="text" id="nombre" class="form-control" [(ngModel)]="usuario.nombre"/>
              </div>
          </div>
          <div class="form-group">
              <label class="control-label col-xs-2" for="login">Login</label>
              <div class="col-xs-8">
                  <input type="text" class="form-control" id="login" [(ngModel)]="usuario.login"/>
              </div>
          </div>
          <div class="form-group">
              <label class="control-label col-xs-2" for="password">Password</label>
              <div class="col-xs-8">
                  <input type="text" class="form-control" id="password" [(ngModel)]="usuario.pw"/>
              </div>
          </div>
          <div class="form-group">
              <label class="control-label col-xs-2" for="cp">Confirmar password</label>
              <div class="col-xs-8">
                  <input type="text" class="form-control" id="cp" [(ngModel)]="XXX"/>
              </div>
          </div>                              
      </div>

      <div>
          <input type="button" value="Siguiente" class="btn btn-primary" [disabled]="libroSel.id!=null" (click)="siguiente()"/>
      </div>      
  
    </div>
    <div class="col-xs-0 col-sm-2"></div>
  </div>  
  
  